.adoption-card{
    transition-duration: .5s;
    box-shadow: $box-shadow-sm;

    & div{
        transition-duration: .5s;
    }

    &:hover{
        box-shadow: $box-shadow;
    }
}


.adoption-card-1 div:first-child{
    background-image: url(../images/dog01.png);
}
.adoption-card-1:hover div:first-child{
    background-image: url(../images/dog01-hover.png);
}

.adoption-card-2 div:first-child{
    background-image: url(../images/04.png);
}
.adoption-card-2:hover div:first-child{
    background-image: url(../images/04-hover.png);
}

.adoption-card-3 div:first-child{
    background-image: url(../images/08.png);
}
.adoption-card-3:hover div:first-child{
    background-image: url(../images/08-hover.png);
}

.adoption-card-4 div:first-child{
    background-image: url(../images/06.png);
}
.adoption-card-4:hover div:first-child{
    background-image: url(../images/dog01-hover.png);
}

.adoption-card-5 div:first-child{
    background-image: url(../images/07.png);
}
.adoption-card-5:hover div:first-child{
    background-image: url(../images/04-hover.png);
}

.adoption-card-6 div:first-child{
    background-image: url(../images/05.png);
}
.adoption-card-6:hover div:first-child{
    background-image: url(../images/08-hover.png);
}