body {
    font-family: 'Noto Sans TC', sans-serif;
    color: #3A3A3A;

}
.kalam {
    font-family: 'Kalam', cursive;
}
.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.object-fit-cover {
    object-fit: cover;
}
.bg-texture{
    background-image: url(../images/lightpaperfibers.png);
}